<div class="main_bg">
  <div class="wrap">
    <div class="wrapper">	
      <div class="main">
        <div class="section group">
          <div class="col span_2_of_4">
            <div class="contact-form">
              <h2 class="style"><%= t('view.sign_up') %></h2>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div>
                  <span><label><%= t('view.email') %></label></span>
                  <span><%= f.email_field :email, :autofocus => true, :class => 'text-field' %></span>
                </div>
                <div>
                  <span><label><%= t('view.password') %></label></span>
                  <span><%= f.password_field :password, :class => 'text-field' %></span>
                </div>
                <div>
                  <span><label><%= t('view.pass_confirmation') %></label></span>
                  <span><%= f.password_field :password_confirmation, :class => 'text-field' %></span>
                </div>
                <div>
                  <span><%= f.submit t('view.submit') %></span>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
