<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="wrapper">	
	<div class="main">
		<div class="content">
			<a href="/"><h2><%= t('view.kisan_bhai') %></h2></a>
		</div>
		<div class="section group">				
				<div class="col span_1_of_2">
      			<div class="company_address">
            <h2 class="style"><%= t('view.our_address') %></h2>
            <p><%= t('view.kapil_patidar') %></p>
						<p><%= t('view.village_name') %>,</p>
						<p><%= t('view.dist_name') %>,</p>
            <p><%= t('view.teh_name') %>,</p>
            <p><%= t('view.state_name') %>, 451542</p>
						<p><%= t('view.country_name') %></p>
            <p><%= t('view.phone') %>: +919926094723</p>
				 	 	<p><%= t('view.email') %>: <span>kplguru07@gmail.com</span></p>
				   </div>
					<div class="contact_info">
			    	 	<h2 class="style"><%= t('view.find_us_here') %></h2>
			    	 		<div class="map">
                  <iframe width="100%" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Dongargaon,+Madhya+Pradesh&amp;aq=0&amp;oq=dongarg&amp;sll=21.798236,75.534439&amp;sspn=0.098342,0.160675&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Dongargaon,+Khargone,+Madhya+Pradesh&amp;ll=21.943959,75.416992&amp;spn=0.196503,0.32135&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
                  <br>
                  <small>
                    <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Dongargaon,+Madhya+Pradesh&amp;aq=0&amp;oq=dongarg&amp;sll=21.798236,75.534439&amp;sspn=0.098342,0.160675&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Dongargaon,+Khargone,+Madhya+Pradesh&amp;ll=21.943959,75.416992&amp;spn=0.196503,0.32135&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left"><%= t('view.view_large_map') %></a>
                  </small>
                </div>
      				</div>				   
				   <div class="clear"></div>
				</div>				
				<div class="col span_2_of_4">
				  <div class="contact-form">
				  	<h2 class="style"><%= t('view.contact_us') %></h2>
            <form method="post" action="contact-post.html">
              <div>
                <span><label><%= t('view.name') %></label></span>
                <span><input name="userName" type="text" class="textbox"></span>
              </div>
              <div>
                <span><label><%= t('view.e-mail') %></label></span>
                <span><input name="userEmail" type="text" class="textbox"></span>
              </div>
              <div>
                <span><label><%= t('view.mobile') %></label></span>
                <span><input name="userPhone" type="text" class="textbox"></span>
              </div>
              <div>
                <span><label><%= t('view.subject') %></label></span>
                <span><textarea name="userMsg"> </textarea></span>
              </div>
              <div>
                <span><input type="submit" value="<%= t('view.save') %>"></span>
              </div>
            </form>
          </div>
        </div>		
  			<div class="clear"></div>
		  </div>

	</div>
	<div class="clear"></div>
</div>
</div>
