<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="wrapper">	
	<div class="main">
		<div class="content">
			<a href="/"><h2>Kisan Bhai</h2></a>
		</div>
	<div class="ser-main">
		<h2 class="style">Our Services</h2>
		<div class="ser-style top">
			<p class="para">
        We are here to provide our best services to all kisan bhai to increase output from their lands.
        Some time, kisan bhai feel that they need to get advise from someone expert person who knows how to deal with the perticular problem related to land.
        So we are coming with our services to remove your dependencies from any person for any guideline.
        Feel free to post your land issue and here are many experties waiting to solve your problem.
      </p>
		</div>
		<div class="ser-grid-list img_style">
		<h3 class="style"><a href="">Advise</a></h3>
		<div class="gallery1">
      <%= link_to image_tag('/assets/ser_pic1.jpg'), details_path %>
		</div>
			<p class="para">
        Our advisors can give you some advises for your land like how to increase your land productivity.
      </p>
			<div class="read_more">
        <%= link_to 'Read More', details_path, :class => "btn" %>
      </div>
		</div>
		<div class="ser-grid-list img_style">
		<h3 class="style"><a href="">Group</a></h3>
		<div class="gallery1">
      <%= link_to image_tag('/assets/ser_pic2.jpg'), details_path %>
		</div>
			<p class="para">
        We want to see all kisan bhai to be like a strong group.
        We want that every kisan bhai knows about other group member like what they are doing and how they are handling land issue.
      </p>
			<div class="read_more">
        <%= link_to 'Read More', details_path, :class => "btn" %>
      </div>
		</div>
		<div class="ser-grid-list img_style">
		<h3 class="style"><a href="">Presense</a></h3>
		<div class="gallery1">
      <%= link_to image_tag('/assets/ser_pic3.jpg'), details_path %>
		</div>
			<p class="para">
        We want from all kisan bhai to put their presense in IT field.
        Try to be confirtable to use and learn IT products.
      </p>
			<div class="read_more">
        <%= link_to 'Read More', details_path, :class => "btn" %>
      </div>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
